<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入外部配置文件 resource:类路径下的资源 url:网络路径或磁盘路径下的资源-->
    <properties resource="db.properties"></properties>

    <settings>
        <!--开启驼峰命名，如数据库字段last_name映射到实体类lastName-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!--mybatis默认对null都映射为原生JDBC的OTHER类型-->
        <!--当参数为null指定JDBC类型-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--懒加载，全局性设置懒加载，如果设为false则所有相关联的都会被初始化加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--当设置为true的时候，懒加载的对象可能被任何懒属性全部加载，否则每个属性都按需加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <!--别名，默认为类名小写user-->
        <typeAlias type="com.jason.lee.entity.User" alias="User"/>
        <!--批量取别名，默认类名小写 可以使用@Alias指定别名-->
        <package name="com.jason.lee.entity"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.jason.lee.typehandler.MyTypeHandler" javaType="com.jason.lee.entity.UserStatus"/>
    </typeHandlers>

    <!--注册插件-->
    <plugins>
        <plugin interceptor="com.jason.lee.interceptor.MyInterceptor">
            <property name="key" value="value"/>
        </plugin>
        <!--分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <!--事务管理器   自定义事务管理器：实现TransactionFactory接口 type为全限定名-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据源  自定义数据源：实现DataSourceFactory接口 type为全限定名-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--支持多数据库厂商 type="DB_VENDOR"：VendorDatabaseIdProvider作用是得到数据库厂商标识，mybatis根据不同标识执行不同sql-->
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>

<mappers>
    <!--注册sql映射文件-->
    <mapper resource="mapper/UserMapper.xml"/>
    <mapper resource="mapper/UserMapper-mapped.xml"/>
    <mapper resource="mapper/ProductMapper.xml"/>
    <mapper resource="mapper/BrandMapper.xml"/>
    <mapper resource="mapper/DynamicSQLMapper.xml"/>
    <mapper resource="mbg-mapper/UserMapper.xml"/>
    <!--注册sql映射接口-->
    <mapper class="com.jason.lee.mapper.DepartMapper"/>
</mappers>
</configuration>